@using DomainModels;
@model List<DomainModels.Server>
 
<a asp-action="Add" asp-controller="Server">Agregar servidor</a>
 
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var server in Model)
    {
        <div class="col">
            <partial name="_CardServerPartial" model="@server" />
        </div>
    } 
</div>